html {
	height: 99%;
}

* html body {
	height: 99%;
}

body {
	background: #f2f2f2;
	min-height: 99%;
	position: relative;
	padding: 3px;
	font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 15px;
	text-align: center;
}

h2 {
	font-size: 13px;
	text-align: center;
}

h3 {
	font-size: 11px;
	text-align: center;
}

h4 {
	font-size: 9px;
	text-align: center;
}

h5 {
	font-size: 7px;
	text-align: center;
}

img {
	padding: 0;
	margin: 0;
	border: 0;
}

table {
	padding: 2px;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

th {
	background-color: #808080;
	color: #ffffff;
}

table td,
th {
	padding: 2px;
}

.vert {
	-ms-writing-mode: vertical-rl;
	-moz-writing-mode: vertical-rl;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
}

.name {
	width: 1px;
	float: left;
	word-wrap: break-word;
}

.score {
	width: 80px;
	height: 180px;
	vertical-align: top;
}

.right {
	font: 9px "Lucida Grande", Helvetica, Arial, sans-serif;
	text-align: right;
}

.center,
.event,
.win,
.call,
.call_blank,
.rt_call,
.rt_blank {
	text-align: center;
}

.win,
.call,
.call_blank,
.rt_call,
.ev_call,
.ev_draw {
	vertical-align: bottom;
}

.nopad {
	padding: 0;
}

.call {
	font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.blank {
	width: 12px;
	height: 38px;
}

.machi {
	width: 6px;
	height: 38px;
}

.event {
	width: 27px;
	height: 96px;
	vertical-align: middle;
}

.win {
	width: 27px;
	height: 48px;
}

.call {
	width: 27px;
	height: 54px;
}

.call_blank {
	width: 27px;
	height: 16px;
}

.rt_call {
	width: 38px;
	height: 54px;
}

.rt_blank {
	width: 38px;
	height: 16px;
}

.ev_call {
	font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
	height: 11px;
}

.ev_draw {
	height: 38px;
}

.ev_reach {
	font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
	height: 10px;
	vertical-align: top;
}

.ev_discard {
	height: 38px;
	vertical-align: top;
}

.border {
	border: 1px solid #c0c0c0;
}

a {
	color: #4F6B72;
	font-family: "PT Sans", Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
}

.last {
	float: right;
}

a:hover {
	text-decoration: underline;
}

.demo {
	width: 600px;
	margin: 20px auto;
	padding: 10px;
	color: #4F6B72;
	font-family: "PT Sans", Verdana, Arial, sans-serif;
	font-size: 13px;
}

.error-msg {
	padding: 5px;
	border: 1px solid red;
	margin-bottom: 8px;
}

.input {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	color: #555555;
	display: inline-block;
	font-size: 12px;
	height: 16px;
	line-height: 16px;
	margin-bottom: 9px;
	padding: 3px 3px 3px 3px;
	width: 300px;
}

.select {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	color: #555555;
	display: inline-block;
	font-size: 13px;
	height: 24px;
	line-height: 16px;
	margin-bottom: 9px;
	padding: 3px 3px 3px 3px;
	width: 100px;
}

.buttons {
	text-align: right;
}

.buttons span {
	float: left;
	margin-top: 4px;
}

button {
	background-color: #575A82;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	font-weight: bold;
	padding: 4px;
}

button:hover {
	background-color: #FF875E;
}